/**font*/
@font-face {
    font-family: 'agfa_rotis_sans_serifregular';
    src: url('../fonts/rotsan_0-webfont.eot');
    src: url('../fonts/rotsan_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rotsan_0-webfont.woff2') format('woff2'),
         url('../fonts/rotsan_0-webfont.woff') format('woff'),
         url('../fonts/rotsan_0-webfont.ttf') format('truetype'),
         url('../fonts/rotsan_0-webfont.svg#agfa_rotis_sans_serifregular') format('svg');
    font-style: normal;

}

@font-face {
    font-family: 'agfa_rotis_sans_serifbold';
    src: url('../fonts/rotsanb_0-webfont.eot');
    src: url('../fonts/rotsanb_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rotsanb_0-webfont.woff2') format('woff2'),
         url('../fonts/rotsanb_0-webfont.woff') format('woff'),
         url('../fonts/rotsanb_0-webfont.ttf') format('truetype'),
         url('../fonts/rotsanb_0-webfont.svg#agfa_rotis_sans_serifbold') format('svg');
    font-style: normal;

}

@font-face {
    font-family: 'agfa_rotis_sans_serifitalic';
    src: url('../fonts/rotsani-webfont.eot');
    src: url('../fonts/rotsani-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rotsani-webfont.woff2') format('woff2'),
         url('../fonts/rotsani-webfont.woff') format('woff'),
         url('../fonts/rotsani-webfont.ttf') format('truetype'),
         url('../fonts/rotsani-webfont.svg#agfa_rotis_sans_serifitalic') format('svg');
    font-style: normal;

}

@font-face {
    font-family: 'agfa_rotis_sans_serif_lightIt';
    src: url('../fonts/rotsanil-webfont.eot');
    src: url('../fonts/rotsanil-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rotsanil-webfont.woff2') format('woff2'),
         url('../fonts/rotsanil-webfont.woff') format('woff'),
         url('../fonts/rotsanil-webfont.ttf') format('truetype'),
         url('../fonts/rotsanil-webfont.svg#agfa_rotis_sans_serif_lightIt') format('svg');
    font-style: normal;

}

@font-face {
    font-family: 'agfa_rotis_sans_serif_lightRg';
    src: url('../fonts/rotsanl-webfont.eot');
    src: url('../fonts/rotsanl-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rotsanl-webfont.woff2') format('woff2'),
         url('../fonts/rotsanl-webfont.woff') format('woff'),
         url('../fonts/rotsanl-webfont.ttf') format('truetype'),
         url('../fonts/rotsanl-webfont.svg#agfa_rotis_sans_serif_lightRg') format('svg');
    font-style: normal;

}

@font-face {
    font-family: 'agfa_rotis_sans_serif_exbdRg';
    src: url('../fonts/rotsanxb-webfont.eot');
    src: url('../fonts/rotsanxb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rotsanxb-webfont.woff2') format('woff2'),
         url('../fonts/rotsanxb-webfont.woff') format('woff'),
         url('../fonts/rotsanxb-webfont.ttf') format('truetype'),
         url('../fonts/rotsanxb-webfont.svg#agfa_rotis_sans_serif_exbdRg') format('svg');
    font-style: normal;

}