// bower:scss
// endbower

@import "fonts.scss";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/wow/css/libs/animate.scss";
@import "../../bower_components/slick-carousel/slick/slick-theme.scss";
@import "../../bower_components/slick-carousel/slick/slick.scss";


// colours
$blue: #2D50A3;
$white: #FFFFFF;
$black: #000000;
$dark-gray: #292c2f;
$red:#FF2C2C;
$purple:#460EAA;
$yellow:#F2AC00;
$green:#29B029;
$light-blue: #35CFF8;
$orange: #FC7A23;
$light-green: #BBB927;
$blue-modal: #4161AC;

body {
  background: #fafafa;
  font-weight: normal;
  font-family: 'Graphik LC Web';
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

body:before {
  content: '';
  position: fixed;
  width: 100%;
  top: 0px; 
  left: 0px; 
  right: 0px; 
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  background-size: cover;
  background-position: center center;
}


h1,h2,h3,h4,h5,h6 {
  font-family: 'Graphik Web';
}

p {
  font-size: 16px;
}

.spacer {
  background-color: transparent;
  border: 0;
  height: 1px;
  margin-bottom: 2.5em;
  display: block;
  width: 100%;
}

//navigation
.navbar {
  position: relative;
  min-height: 130px;
  //margin-bottom: 50px;
  border: none;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//footer
.footer {
  background-color: $dark-gray;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  p {
    &.slogan {
      color: #8d9093;
      font-size: 1.2rem;
      margin: 0 0 0.5rem;
    }
    &.copywrite {
      color: #8f9296;
      font-size: 0.875rem;
      margin: 0;
    }
  }
  .links a {
    list-style: none;
    font-weight: bold;
    color: $white;
    padding: 3rem 0 2rem;
    margin: 0;
    &::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem;
    }
    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }
}

//iframe video responsive
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  display: block;
  text-align:center;
}
.video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

//inside pages
.page-header {
  position: relative;
  height: 350px;

  .img-hero {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .inner-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 1240px;
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;

  .page-heading {
    position: absolute;
    bottom: 0px;
    margin: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    left: 30px;
    right: 30px;
    transition: bottom .2s ease-in;
    }
  }
}

//text colours.
.whitep {
  color:$white !important;
}
.bluep {
  color:$blue !important;
}
.redp {
  color:$red !important;
}
.purplep {
  color:$purple !important;
}
.yellowp {
  color:$yellow !important;
}
.greenp {
  color:$green !important;
}
.light-greenp {
  color: $light-green !important;
}
.light-bluep {
  color: $light-blue !important;
}
.orangep {
  color: $orange !important;
}

.blue {
  background: $blue;

  &:hover {
    cursor: pointer;
    background: #404040;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
  }
}


.logo {
  position: absolute;
  z-index: 999;
  padding: 20px 20px;
  width: 160px;
}

@media screen and (max-width: 767px) { }


//FLIP CARDS
.flip-container {
	perspective: 1000px;
	transform-style: preserve-3d;
}

.flip .back {
		transform: rotateY(0deg);
    transition: all 0.75s ease;
	}
.flip .front {
	    transform: rotateY(180deg);
      transition: all 0.75s ease;
	}

.flip-container, .front, .back {
	width: 360px;
	height: 600px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: absolute;
	top: 0;
	left: 0;
}

/*  UPDATED! front pane, placed above back */
.front {
	z-index: 2;
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(-180deg);
}

//airplane effect
.airplane-container {

  &::after {
    content: '';
    display: table;
    clear: both;
  }
  
  .airplane {
    position: absolute;
    width: 20px;
    height: 15px;
    top: 15%;
    left: 38%;
    opacity: 0;
    transform: translate(-50%, -50%);
    animation: move 4s infinite;
  }

  @keyframes move {
    40% {
      left: 48%;
      opacity: 1;
    }
    100% {
      left: 58%;
      opacity: 0;
    }
  }
}

//score panel
.score-panel {
  background: url(../img/scrore-bar.svg);
  background-repeat: no-repeat;
  width: 500px;
  height: 101px;
  position: relative;
}


#dollar-count {
  font-family: 'Graphik LC Web';
  font-size:40px;
  color: white;
  top: 20px;
  position: absolute;
  left: 40%;

  sup { 
    vertical-align: super;
    font-size: 13px;
  }
}

#days-count {
  font-family: 'Graphik LC Web';
  font-size:40px;
  color: white;
  top: 20px;
  position: absolute;
  right: 44%;

  sup { 
    vertical-align: super;
    font-size: 13px;
  }
}


.btn-go {
  background: url(../img/go.svg) no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  overflow: hiddem;
  right: 0;
  top:50%;
  opacity: 0;
}