        <a href="index.html"><div class="logo"><img src="img/logo@2x.png"></div></a>
        <div class="page-header">
            <div class="img-hero" style="background-image: url('img/rectangle-11.jpg');"></div>
            <div class="inner-wrapper">
                <div class="page-heading"><h2 class="wow animated fadeInRight" style="color:#FFF">Commercial Excellence Digital Solutions</h2></div>
            </div>
        </div><!-- /.page-header -->

        <div class="spacer"></div>
        
        <section class="digital-solutions wow animated fadeInUp">
            <div class="row">
                <h3 align="center" class="blue-bg">DIGITAL SOLUTIONS</h3>
                <p align="center" class="bluep">Accenture offers two groups of digital solutions to address the challenging trends in the area of Chemicals and Natural Resources and to become more customer-centric.</p>
            </div><!-- /.row -->

            <div class="row rowEqual">
                <div class="one-half colEqual">
                    <a href="aip.html"><div class="block-one">
                        <div class="heading"><h4>Adaptable Solutions</h4></div>
                    
                        <p align="center">Accenture Insight Platform (AIP) is a scalable solution that allows firms to get actionable insights quickly with a flexible commercial model. AIP is used along with a global team of expert data scientists to convert clients raw data to valuable information and tailored reports.</p>

                        <div class="one-third"><img src="img/group-102.png"/></div>
                        <div class="one-third"><img src="img/group-103.png"/></div>
                        <div class="one-third column-last"><img src="img/group-104.png"/></div>
                    </div></a>
                </div>

                <div class="one-half colEqual column-last">
                    <a href="ready-use.html"><div class="block-two">
                        <div class="heading"><h4>Ready-to-Use Solutions</h4></div>
                        <p align="center">Accenture Analytics Apps are ready-to-use analytics solutions which incorporate best-in-class algorithms, visualizations and dashboards to identify client issues and improve business outcomes.<br/>&nbsp; </p>
                        <div class="one-third"><img src="img/group-99.png"/></div>
                        <div class="one-third"><img src="img/group-100.png"/></div>
                        <div class="one-third column-last"><img src="img/group-101.png"/></div>
                    </div></a>
                </div>
            </div><!-- /.rowEqual -->
        </section>