
<div id="btnGo" class="btn-go"></div>
<div class="row">
    <div class="col-lg-12">
        <div class="text-center text-uppercase">
            <p class="whitep">Experts Recommended overhaul every 3000 cycles</p>
            <div class="spacer"></div>
            <h3 class="whitep">Choose your Engine</h3>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- Content Row -->
<div class="row">
    <div class="col-md-4">
      <div class="flip-container">
        <div id="card1" class="flipper">
          <div class="front">
            <img src="http://placehold.it/360x600/0000FF/FFFFFF" />
          </div>
          <div class="back">
            <img src="http://placehold.it/360x600/8E236B/FFFFFF" />
          </div>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    
    <div class="col-md-4">
       <div class="flip-container">
        <div id="card2" class="flipper">
          <div class="front">
            <img src="http://placehold.it/360x600/0000FF/FFFFFF" />
          </div>
          <div class="back">
            <img src="http://placehold.it/360x600/8E236B/FFFFFF" />
          </div>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->

    <div class="col-md-4">
        <div class="flip-container">
        <div id="card3" class="flipper">
          <div class="front">
            <img src="http://placehold.it/360x600/0000FF/FFFFFF" />
          </div>
          <div class="back">
            <img src="http://placehold.it/360x600/8E236B/FFFFFF" />
          </div>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->