        <a href="index.html"><div class="logo"><img src="img/logo@2x.png"></div></a>
        <div class="page-header">
            <div class="img-hero" style="background-image: url('img/contact-header.jpg');"></div>
            <div class="inner-wrapper">
                <div class="page-heading"><h2 class="wow animated fadeInRight" style="color:#FFF">Contacts</h2></div>
            </div>
        </div><!-- /.page-header -->

        <div class="spacer"></div>
        
         <section class="credentials">
            <div class="row">
                <h3 align="center" class="blue-bg" style=" max-width: 700px;">Contacts</h3>
                <p align="center" class="bluep">Accenture’s Commercial Excellence team empowers key players across <br/>Chemicals and Natural Resources industries around the world</p>
            </div><!-- /.row -->
        </section>

        <section class="contacts wow animated fadeInUp">
            <!-- Masonry -->
            <div class="row">
            <div class="grid">
              <div class="grid-sizer"></div>
              <div class="grid-item">
                <div class="item-inner">
                    <div class="content">
                        <div class="small-12 medium-12 large-12 columns">
                            <img src="img/gotz-erhadt.png" />
                            <h5 class="bluep">Götz Erhardt</h5>
                            <p>Managing Director, Resources<br/>
                                Accenture Consulting<br/>
                                <a href="mailto:goetz.erhardt@accenture.com">goetz.erhardt@accenture.com</a></p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="grid-item">
                  <div class="item-inner">
                    <div class="content">
                        <div class="small-12 medium-12 large-12 columns">
                            <img src="img/daniel-delreu.png" />
                            <h5 class="bluep">Daniel Delreu</h5>
                            <p>Managing Director, Resources<br/>
                                Accenture Consulting<br/>
                                <a href="mailto:daniel.delreu@accenture.com">daniel.delreu@accenture.com</a></p>
                        </div>
                    </div>
                </div>
              </div>
             
            </div>
            

            </div><!-- /.row -->
            <div class="row">
              <div class="grid">
              <div class="grid-sizer"></div>
              <div class="grid-item">
                  <div class="item-inner">
                     <div class="content">
                        <div class="small-12 medium-12 large-12 columns">
                            <img src="img/frederik-debrabander.png" />
                            <h5 class="bluep">Frederik Debrabander</h5>
                            <p>Senior Manager, Resources<br/>
                                Accenture Consulting<br/>
                                <a href="mailto:frederik.debrabander@accenture.com">frederik.debrabander@accenture.com</a></p>
                        </div>
                    </div>
                </div>
              </div>
              
              <div class="grid-item">
                  <div class="item-inner">
                     <div class="content">
                        <div class="small-12 medium-12 large-12 columns">
                            <img src="img/julia-opperman.png" />
                            <h5 class="bluep">Dr. Julia Oppermann</h5>
                            <p>Senior Manager, Resources<br/>
                                Accenture Consulting<br/>
                                <a href="mailto:julia.oppermann@accenture.com">julia.oppermann@accenture.com</a></p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="grid-item">
                <div class="item-inner">
                     <div class="content">
                        <div class="small-12 medium-12 large-12 columns">
                            <img src="img/ellipse-8.png" />
                            <h5 class="bluep">Laurence Garin </h5>
                            <p>Senior Manager, Resources<br/>
                                Accenture Consulting<br/>
                                <a href="mailto:laurence.garin@accenture.com">laurence.garin@accenture.com</a></p>
                        </div>
                    </div>
                </div>
              </div>
            
            </div>

            </div><!-- /.row -->
            <div class="row">


              <div class="grid">
              <div class="grid-sizer"></div>

              <div class="grid-item">
                  <div class="item-inner">
                    <div class="content">
                        <div class="small-12 medium-12 large-12 columns">
                            <img src="img/philip-lenders.png" />
                            <h5 class="bluep">Philip Lenders</h5>
                            <p>Manager, Resources<br/>
                                Accenture Consulting<br/>
                                <a href="mailto:philip.lenders@accenture.com">philip.lenders@accenture.com</a></p>
                        </div>
                    </div>
                  </div>
              </div>
              <div class="grid-item">
                  <div class="item-inner">
                    <div class="content">
                            <div class="small-12 medium-12 large-12 columns">
                                <img src="img/christian-berst.png" />
                                <h5 class="bluep">Christian Berst</h5>
                                <p>Consultant, Resources<br/>
                                    Accenture Consulting<br/>
                                    <a href="mailto:christian.berst@accenture.com">christian.berst@accenture.com</a></p>
                            </div>
                        </div>
                  </div>
              </div>
              <div class="grid-item">
                  <div class="item-inner">
                    <div class="content">
                            <div class="small-12 medium-12 large-12 columns">
                                <img src="img/khashayar.png" />
                                <h5 class="bluep">Dr. Khashayar L. Khazraei</h5>
                                <p>Consultant, Resources<br/>
                                    Accenture Consulting<br/>
                                    <a href="mailto:khashayar.khazraei@accenture.com">khashayar.khazraei@accenture.com</a></p>
                            </div>
                        </div>
                  </div>
              </div>
              
            </div><!-- /.grid -->
            </div><!-- /.row -->
        </section>
