        <a href="index.html"><div class="logo"><img src="img/logo@2x.png"></div></a>
        <div class="page-header">
            <div class="img-hero" style="background-image: url('img/ready-header.jpg');"></div>
            <div class="inner-wrapper">
                <div class="page-heading"><h2 class="wow animated fadeInRight" style="color:#FFF">Commercial Excellence Digital Solutions - Ready-to-Use</h2></div>
            </div>
        </div><!-- /.page-header -->

        <div class="spacer"></div>
        
        <section class="acn">
            <div class="row">
                <h3 align="center" class="green-bg">OVERVIEW</h3>
                <div class="spacer"></div>

                <div class="one-half">
                    <p>An Analytics App is a pre-packaged point analytics solution which incorporates best-in-class analytical algorit, hmsvisualizations, dashboards to identify client issues and support achievement of business outcomes. <p>
                </div>
                <div class="one-half column-last">
                    <p>The Apps are built using Analytics platforms and applications like Alteryx, Tableau, Revolution, etc., to address a specific problem that the client experiences. The Apps solve these problems in an industrialized way and can be customized as per client needs to accelerate the delivery of business outcomes. </p>
                </div>            
            </div><!-- /.row -->
            <div class="spacer"></div>
        </section>
        
        
        <section class="ready-to wow animated fadeInUp">
            <div class="row">
                <h3 align="center" class="green-bg">VALUE PROPOSITION</h3>
                <div class="spacer"></div>
            </div>
            <!-- row 1 -->
            <div class="row rowEqual">
                <div class="colEqual one-third">
                    <div class="white">
                        <img class="wow animated zoomIn" src="img/group-225.png" /><br/>
                        <h5>Methodologies</h5>
                        <p>Use Accenture Standard Methodologies to leverage high performance analytics</p>
                    </div>
                </div>

                <div class="colEqual one-third">
                    <div class="white">
                        <img class="wow animated zoomIn" src="img/group-221.png" /><br/>
                        <h5>Analytics</h5>
                        <p>Best-in-class analytical algorithms allow to perform Big-Data-Analytics and define predictive analytic model</p>
                    </div>
                </div>

                <div class="colEqual one-third column-last">
                    <div class="white">
                        <img class="wow animated zoomIn"  src="img/group-228.png" /><br/>
                        <h5>Customizing</h5>
                        <p>Customizable Apps considering client requirements with twice the speed deliver higher business benefits</p>
                    </div>
                </div>
            </div><!-- /.rowEqual -->
           
           <!-- row 2 -->
            <div class="row rowEqual">
                <div class="colEqual one-third">
                    <div class="white">
                        <img class="wow animated zoomIn"  src="img/group-223.png" /><br/>
                        <h5>Efficiency</h5>
                        <p>Reduce time to generate insights by 50% to take actions</p>
                    </div>
                </div>

                <div class="colEqual one-third">
                    <div class="white">
                        <img class="wow animated zoomIn"  src="img/group-226.png" /><br/>
                        <h5>Visualizations</h5>
                        <p>Employ Leading Visualization Practices and Dashboard to identify issues</p>
                    </div>
                </div>

                <div class="colEqual one-third column-last">
                    <div class="white">
                        <img class="wow animated zoomIn"  src="img/group-230.png" /><br/>
                        <h5>Multi-Platform Solutions</h5>
                        <p>Multi-Platform Solutions ensure applicability on mobile devices</p>
                    </div>
                </div>
            </div><!-- /.rowEqual -->
        </section>

    <section class="slider-apps wow animated fadeInUp">
        <div class="row">
            <h3 align="center" class="green-bg">ACCENTURE ANALYTICS APPS</h3>
            <p align="center">There are similar problems within CNR industries, which can be addressed quickly by a set of >100 pre-configured Apps. Industry specific apps can be build and customized using our Accenture app design studio.</p>
            <div class="spacer"></div>
        </div><!-- /.row -->
        
        <div class="row">
            <div class="small-12 medium-12 large-12 columns">
                <div class="multiple-items">
                    <div class="slide">
                        <img src="img/group-169.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-170.png" alt=""> 
                    </div>
                    <div class="slide">
                        <img src="img/group-171.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-172.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-173.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-174.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-175.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-178.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-179.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-180.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-181.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-182.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-183.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-184.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-185.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-186.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-187.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-189.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-190.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-191.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-192.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-193.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-194.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-195.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-196.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-197.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-198.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-199.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-201.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-202.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-203.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-204.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-205.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-206.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-207.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-209.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-210.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-211.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-212.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-211.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-213.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-214.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-215.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-217.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-218.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-219.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/group-220.png" alt="">
                    </div>
                </div><!-- /.multiple-items -->
            </div>
        </div><!-- /.row -->
    </section>


    <section class="tab-ready wow animated fadeInUp">
        <div class="row">
            <h3 align="center" class="green-bg">CLIENT EXPERIENCE</h3>
            <div class="spacer"></div>

            <ul class="tabs" data-tabs="2zeinm-tabs" id="ready-tabs">
                <li class="tabs-title is-active" role="presentation"><a href="#panel1" aria-selected="false" role="tab" aria-controls="panel1" id="panel1-label">Client 1</a></li>
                <li class="tabs-title" role="presentation"><a href="#panel2" role="tab" aria-controls="panel2" aria-selected="false" id="panel2-label">Client 2</a></li>
                <li class="tabs-title" role="presentation"><a href="#panel3" role="tab" aria-controls="panel3" aria-selected="false" id="panel3-label">Client 3</a></li>
                <li class="tabs-title" role="presentation"><a href="#panel4" role="tab" aria-controls="panel4" aria-selected="false" id="panel4-label">Client 4</a></li>
            </ul>
        </div><!-- /.row -->

        
        <div class="tabs-content" data-tabs-content="ready-tabs">
            <div class="tabs-panel is-active" id="panel1" role="tabpanel" aria-hidden="true" aria-labelledby="panel1-label">
                <div class="row">
                    <div class="spacer"></div>
                    <div class="centerTitle">
                        <img class="alignleft" src="img/app1.png">
                        <h5 class="whitep">Pricing Intelligence & Insight App</h5>
                        <p class="whitep">Marketing</p>
                    </div>
                    <div class="spacer"></div>
                </div><!-- /.row-->
                <div class="row rowEqual">
                    <div class="one-half colEqual">
                        <img src="img/group-114.png" />
                        <h5 class="bluep" align="center">Client Challenge</h5>
                        <ul class="whitep dashed">Loss of revenue on account of sub-optimal pricing strategy: <br/>
                            <li> Limited visibility of trends in price difference between client and market</li>
                            <li> Limited understanding of price elasticity </li>
                            <li> Non-standard vendor rates</li> </ul>
                    </div>

                    <div class="one-half column-last colEqual">
                        <img src="img/group-154.png" />
                        <h5 class="bluep" align="center">Intended Users</h5>
                        <p class="whitep">CMO, Sales Head, CFO, Finance Heads, Client Account Managers </p>
                    </div>
                </div><!-- /.row equal -->
                <div class="spacer"></div>
                <div class="row rowEqual">
                    
                    <div class="one-half colEqual">
                        <img src="img/group-111.png" />
                        <h5 class="bluep" align="center">Business Benefit</h5>
                        <p class="whitep">Pricing Intelligence & Insight can improve gross margins by up to 5% and create priceless customer-specific insights</p>
                    </div>

                    <div class="one-half column-last colEqual">
                        <img src="img/group-112.png" />
                        <h5 class="bluep" align="center">Implementation Duration</h5>
                        <p class="whitep">Typically 2-4 weeks to customize and deploy the App in the client environment</p>
                    </div>
                </div><!-- /.row equal -->
                <div class="spacer"></div>
                <a data-open="Modal6"><div class="app-insights"></div></a>
                <div class="spacer"></div>
            </div><!-- /.panel1 -->

            <div class="tabs-panel" id="panel2" role="tabpanel" aria-hidden="true" aria-labelledby="panel2-label">
                <div class="row">
                    <div class="spacer"></div>
                    <div class="centerTitle">
                        <img class="alignleft" src="img/app2.png">
                        <h5 class="whitep">Intelligent Collections App</h5>
                        <p class="whitep">Finance and Accounting</p>
                    </div>
                    <div class="spacer"></div>
                </div><!-- /.row-->
                <div class="row rowEqual">
                    <div class="one-half colEqual">
                        <img src="img/group-114.png" />
                        <h5 class="bluep" align="center">Client Challenge</h5>
                        <ul class="whitep dashed">High Days Sales Outstanding (DSO): <br/>
                            <li> Poor cash collection process</li>
                            <li> Unfavorable credit terms</li>
                            <li> Aged overdue Invoices</li><br/>

                            High Disputed Invoices (%): <br/>
                            <li> Lack of ability to predict disputes</li>
                            <li> Reactive dispute management</li></ul>
                    </div>

                    <div class="one-half column-last colEqual">
                        <img src="img/group-154.png" />
                        <h5 class="bluep" align="center">Intended Users</h5>
                        <p class="whitep">CFO, Controller, Country Finance Head, Sales Finance Head, Global Process Owner, Client Account Managers</p>
                    </div>
                </div><!-- /.row equal -->
                <div class="spacer"></div>
                <div class="row rowEqual">
                    
                    <div class="one-half colEqual">
                        <img src="img/group-111.png" />
                        <h5 class="bluep" align="center">Business Benefit</h5>
                        <p class="whitep">Intelligent Collections helps to increase in cash collection by up to 25% and provide predictive customer analytics</p>
                    </div>

                    <div class="one-half column-last colEqual">
                        <img src="img/group-112.png" />
                        <h5 class="bluep" align="center">Implementation Duration</h5>
                        <p class="whitep">Typically 6-8 weeks to customize and deploy the App in the client environment</p>
                    </div>
                </div><!-- /.row equal -->
                <div class="spacer"></div>
                <a data-open="Modal7"><div class="app-insights"></div></a>
                <div class="spacer"></div>
            </div><!-- /.panel2 -->

            <div class="tabs-panel" id="panel3" role="tabpanel" aria-hidden="true" aria-labelledby="panel3-label">
                <div class="row">
                    <div class="spacer"></div>
                    <div class="centerTitle">
                        <img class="alignleft" src="img/app3.png">
                        <h5 class="whitep">Spend Optimizer App</h5>
                        <p class="whitep">Procurement</p>
                    </div>
                    <div class="spacer"></div>
                </div><!-- /.row-->
                <div class="row rowEqual">
                    <div class="one-half colEqual">
                        <img src="img/group-114.png" />
                        <h5 class="bluep" align="center">Client Challenge</h5>
                        <ul class="whitep dashed"><li> Lack of visibility on procurement spend </li>
                            <li> Insights for driving strategic sourcing and category management </li>
                            <li> High non-contract spend</li>
                            <li> Maverick spend management</li>
                            <li> Buying channel compliance </li>
                            <li> Non -standard products/SKU proliferation</li>
                            <li> Long tail of vendors</li></ul>
                    </div>

                    <div class="one-half column-last colEqual">
                        <img src="img/group-154.png" />
                        <h5 class="bluep" align="center">Intended Users</h5>
                        <p class="whitep" align="center">Supply Chain Head, Procurement Head, Category Managers, Contract Managers, Buyers, Manufacturing and Planning Head, Cost Controllers and Budget owners.</p>
                    </div>
                </div><!-- /.row equal -->
                <div class="spacer"></div>
                <div class="row rowEqual">
                    
                    <div class="one-half colEqual">
                        <img src="img/group-111.png" />
                        <h5 class="bluep" align="center">Business Benefit</h5>
                        <p class="whitep">Spend Optimizer identifies rationalization potentials, improves spend compliance up to 30% and working capital of up to10% </p>
                    </div>

                    <div class="one-half column-last colEqual">
                        <img src="img/group-112.png" />
                        <h5 class="bluep" align="center">Implementation Duration</h5>
                        <p class="whitep">Typically 2-4 weeks to customize and deploy the App in the client environment</p>
                    </div>
                </div><!-- /.row equal -->
                <div class="spacer"></div>
                <a data-open="Modal8"><div class="app-insights"></div></a>
                <div class="spacer"></div>
            </div><!-- /.panel3 -->

            <div class="tabs-panel" id="panel4" role="tabpanel" aria-hidden="true" aria-labelledby="panel4-label">
                <div class="row">
                    <div class="spacer"></div>
                    <div class="centerTitle">
                        <img class="alignleft" src="img/app4.png">
                        <h5 class="whitep">Campaign Manager App</h5>
                        <p class="whitep">Marketing</p>
                    </div>
                    <div class="spacer"></div>
                </div><!-- /.row-->
                <div class="row rowEqual">
                    <div class="one-half colEqual">
                        <img src="img/group-114.png" />
                        <h5 class="bluep" align="center">Client Challenge</h5>
                        <ul class="whitep dashed"><li>Difficulty in merging both upper funnel and lower funnel metrics prevents the client from understanding the complete performance of it’s campaigns</li>
<li>Time-intensive report building process prevents timely tracking of performance</li></ul>
                    </div>

                    <div class="one-half column-last colEqual">
                        <img src="img/group-154.png" />
                        <h5 class="bluep" align="center">Intended Users</h5>
                        <p class="whitep">Chief Marketing Officers, Brand and Marketing Managers, Data Analysts</p>
                    </div>
                </div><!-- /.row equal -->
                <div class="spacer"></div>
                <div class="row rowEqual">
                    
                    <div class="one-half colEqual">
                        <img src="img/group-111.png" />
                        <h5 class="bluep" align="center">Business Benefit</h5>
                        <p class="whitep">Campaign Manager provides timely and details updates on campaigns’ performance and competitive marketing insights</p>
                    </div>

                    <div class="one-half column-last colEqual">
                        <img src="img/group-112.png" />
                        <h5 class="bluep" align="center">Implementation Duration</h5>
                        <p class="whitep">Typically 2-4 weeks to customize and deploy the App in the client environment</p>
                    </div>
                </div><!-- /.row equal -->
                <div class="spacer"></div>
                <a data-open="Modal9"><div class="app-insights"></div></a>
                <div class="spacer"></div>
            </div><!-- /.panel4 -->
        </div><!-- /.tabs -->
    </section>

    

    <section class="business-benef wow animated fadeInUp">
        <div class="row">
            <h3 align="center" class="green-bg">BUSINESS BENEFIT</h3>
            <div class="spacer"></div>
                <p align="center">Our Apps have the potential to solve problems across functions and industries. The business benefits vary by App and can be summarized into five broad business results.</p>
            <div class="spacer"></div>

            <div class="small-12 medium-4 large-4 columns">
                <img src="img/group-844.png" />
                <h5 class="light-greenp" align="center">Fast</h5> 
            </div>
            <div class="small-12 medium-4 large-4 columns">
                <img src="img/group-855.png" />
                <h5 class="light-greenp gap-responsive" align="center">Flexible</h5>
            </div>
            <div class="small-12 medium-4 large-4 columns">
                <img src="img/group-866.png" />
             <h5 class="light-greenp" align="center">Transformational</h5>
            </div>
        </div>
        <div class="row">
             <div class="spacer"></div>
             <img class="wow animated fadeIn" src="img/group-236.png" style="visibility: visible; animation-name: fadeIn;">
             <div class="spacer"></div>
             <img class="wow animated fadeIn" src="img/group-235.png" style="visibility: visible; animation-name: fadeIn;">
             <div class="spacer"></div>
             <img class="wow animated fadeIn" src="img/group-234.png" style="visibility: visible; animation-name: fadeIn;">
             <div class="spacer"></div>
             <img class="wow animated fadeIn" src="img/group-233.png" style="visibility: visible; animation-name: fadeIn;">
             <div class="spacer"></div>
             <img class="wow animated fadeIn" src="img/group-232.png" style="visibility: visible; animation-name: fadeIn;">
             <div class="spacer"></div>
        </div><!-- /.row -->

    </section>

    <!-- modals -->
    <div class="large reveal" id="Modal6" data-reveal>
        <h3 class="bluep" align="center">Pricing Intelligence & Insight App</h3>
        <div class="spacer"></div>
        <div class="row">
            <div class="small-12 medium-3 large-3 columns">    
                <p><strong>Pricing Intelligence & Insight</strong> provides pricing recommendations by analyzing pricing and sales trends of clients and competitors products and calculating pricing elasticity.<br/><br/>The app leverages indexing, price response curve and regression techniques to conduct pricing sensitivity analysis to predict sales volumes.<br/><br/>The app has the potential to improve gross margins by 2-5%.</p>
            </div><!-- ./columns -->
            <div class="small-12 medium-9 large-9 columns">
                <div class="single-item">
                    <div class="slide">
                        <img src="img/Slide1.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/Slide2.png" alt=""> 
                    </div>
                    <div class="slide">
                        <img src="img/Slide3.png" alt="">
                    </div>
                </div>
            </div><!-- ./columns --> 
        </div><!-- /.row -->
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> <!-- /.content-modal -->


    <div class="large reveal" id="Modal7" data-reveal>
        <h3 class="bluep" align="center">Intelligent Collections App</h3>
        <div class="spacer"></div>
        <div class="row">
            <div class="small-12 medium-3 large-3 columns">    
                <p><strong>Intelligent Collections</strong> allows organizations to provide actionable recommendations for collection strategy by segmenting customers on multiple variables and predicting disputed invoices. The app provides descriptive analytics on accounts receivables, uses K means clustering to profile and segment customers, uses binary logistic regression to predict customers with high probability of paying late and uses predictive analytics to predict disputes. The app has the potential to effect an increase in cash collection by 10 - 25%.</p>
            </div>
            <div class="small-12 medium-9 large-9 columns">
                <div class="single-item">
                    <div class="slide">
                        <img src="img/Slide4.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/Slide5.png" alt=""> 
                    </div>
                    <div class="slide">
                        <img src="img/Slide6.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/Slide7.png" alt="">
                    </div>
                </div>
            </div><!-- ./columns -->
        </div><!-- /.row -->
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> <!-- /.content-modal -->

    <div class="large reveal" id="Modal8" data-reveal>
        <h3 class="bluep" align="center">Spend Optimizer App</h3>
        <div class="spacer"></div>
        <div class="row">
            <div class="small-12 medium-3 large-3 columns">    
                <p><strong>Spend Optimizer</strong> analyses historical procurement spends data to identify strategic sourcing opportunities, recommend ways to rationalize the supplier base, enable value tracking, higher compliance monitoring, recommend procurement lead time optimization and decrease the proportion of non-contract spend.
The app uses advanced analytical techniques, such as spend profiling, internal benchmarking, working capital simulator, share of business rationalization and vendor normalization & categorization, to generate actionable analytical insights and recommendations to optimize spend under management.
The app has the potential to identify up to 50% vendor base rationalization opportunities; improve spend compliance up to 30% and reduce early payments leading to potential working capital benefit of 5-10%. </p>
            </div>
            <div class="small-12 medium-9 large-9 columns">
                <div class="single-item">
                    <div class="slide">
                        <img src="img/Slide8.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/Slide9.png" alt=""> 
                    </div>
                </div>
            </div><!-- ./columns -->
        </div><!-- /.row -->
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> <!-- /.content-modal -->

    <div class="large reveal" id="Modal9" data-reveal>
        <h3 class="bluep" align="center">Campaign Manager App</h3>
        <div class="spacer"></div>
       <div class="row">
            <div class="small-12 medium-3 large-3 columns">    
                <p><strong>The Campaign Manager</strong> App enables organizations to track the performance of it’s digital campaigns across multiple touchpoints including Paid Search, Display and Social Media. By using data blending techniques, it provides a snapshot of both the upper funnel metrics (Website visits, engagements) as well as conversions to Product Leads, and finally Orders, Sales. By quickly merging Web Traffic Data as well as Leads Data, the App provides a timely update on the performance of each campaign, allowing marketing managers to quickly identify pain points in the funnel and take steps to address them.</p>
            </div>
            <div class="small-12 medium-9 large-9 columns">
                <div class="single-item">
                    <div class="slide">
                        <img src="img/Slide10.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/Slide11.png" alt=""> 
                    </div>
                    <div class="slide">
                        <img src="img/Slide12.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/Slide13.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="img/Slide14.png" alt="">
                    </div>
                </div>
            </div><!-- ./columns -->
        </div><!-- /.row -->
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> <!-- /.content-modal -->
